{{!------------------------------
To add a new social icon simply add an icon listed within the Font Awesome toolkit.
Add the class in the <i> tag to match the desired social network
and then add your link to the <a>.
--------------------------------}}
<ul class="social expanded">


    <!-- Facebook -->
    <li class="social item hvr-grow-rotate">
        <a rel="me" target="_blank" href="mailto:alejandro.pasquini@gmail.com" title="Email :)">
            <i class='fa  fa-envelope-o'></i>
            <span class="label">Email</span>
        </a>
    </li>

    <!-- Linkedin -->
    <li class="social item hvr-grow-rotate">
        <a rel="me" target="_blank" href="https://www.linkedin.com/in/alejandro-norberto-pasquini-501084120/" title="Alejandro Norberto Pasquini en LinkedIn">
            <i class='fa fa-linkedin-square'></i>
            <span class="label">Linkedin</span>
        </a>
    </li>

    <!-- Github -->
    <li class="social item hvr-grow-rotate">
        <a rel="me" target="_blank" href="https://github.com/AlejandroPasquini" title="Alejandro Norberto Pasquini en Github">
            <i class='fa fa-github'></i>
            <span class="label">Github</span>
        </a>
    </li>

    <!-- RSS -->
    <li class="social item hvr-grow-rotate">
        <a href="/rss/" title="Subscribe to RSS">
            <i class='fa fa-rss'></i>
            <span class="label">RSS</span>
        </a>
    </li>
</ul>
