{{!< default}}

{{#post}}

  <article class="page-contact {{post_class}}">
    {{> material-cover}}
    <div class="profile-container animated fade-in">
        {{#if @blog.logo}}
        <div class="profile-image">
            {{> social}}
        </div>
        {{/if}}
        <div class="post-card animated">
            <div class="post-container">
                <div class="post-header">
                     <h1 id="post-title">
                        {{{title}}}
                    </h1>
                </div>
                 <div class="post-content">
                     <form class="contact-container" action="https://formspree.io/alejandronp9@gmail.com" method="POST">
                     <div class="input-container">
                       <label for="name">Nombre</label>
                       <input id="name" type="text" name="name">
                     </div>
                     <div class="input-container">
                       <label for="email">Email</label>
                       <input id="email" type="email" name="_replyto">
                    </div>
                    <div class="input-container">
                      <label for="message">Mensaje</label>
                      <textarea id="message" name='message'></textarea>
                    </div>
                    <div class="input-container">
                     <input class="btn" type="submit" value="Enviar">
                   </div>
                   </form>
              </div>
            </div>
        </div>
    </div>
  </article>

{{/post}}
